
<link rel="stylesheet" href="Johnny.css"

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Full Page Background</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    body {
      background-image: url('rain-rainy.gif');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

.center-text {
  text-align: center;
}

h1 {
  color: rgb(216, 129, 129);
}


<img src="None.png" alt="5 Greyed out stars" style="float: left;" />


